build/
coverage/
node_modules/
tmp/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
package-lock.json
yarn.lock
Cargo.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
env-config.js
NOTES.md
help.js
.hookup.txt
wasm-lib/target/
test.js
dev.env
prod.env
target/